<!-- Masthead-->
<header th:fragment="headerFragment" class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">알고싶은 신조어를 검색해 보세요!</h1>
                    <div class="input-group">
                        <input type="text" id="search_kw" class="form-control" th:value="${kw}">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="btn_search">찾기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>