<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div layout:fragment="content">
    <div class="card my-3">
        <div class="card-body">

            <div class="d-flex justify-content-center">
                <h2 th:text="${user.getUsername()}+' 님 환영합니다!!' "></h2>
                <h2 th:if="${user.getScore()!=1000}" th:text="'당신의 점수는 '+ ${user.getScore()}+' 점 입니다!'"> </h2>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
                <form th:action="@{/user/change}" method="get" id="search" >
                    <div class="d-flex justify-content-end">
                <label  for="username" class="btn btn-outline-dark">이름 변경 하기</label>
                <input type="text" th:id="username" name="username">
                    <input type="submit" value="저장하기" class="btn btn-dark">
                    </div>
                </form>
        </div>
    </div>


    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/quiz-start.jpg'); background-size: 650px 470px; cursor : pointer" onclick="location.href='/quiz'; "
                    ></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>퀴즈 타임</h2>
                    <p class="lead mb-0">설명란</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg'); cursor : pointer" onclick="location.href='/word'; "></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>단어 목록 보기</h2>
                    <p class="lead mb-0">설명란</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/img/bg-showcase-3.jpg'); cursor : pointer" onclick="location.href='/papago'; "></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>야민정음</h2>
                    <p class="lead mb-0">설명란</p>
                </div>
            </div>
        </div>
    </section>
</div>
</html>