<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content">

    <div class="container">
        <div class="features-icons bg-light text-center">
            <h2 th:text="${username.getUsername()}"></h2>
            <h3>이미지를 클릭해 퀴즈를 시작하세요!</h3>
                <div class="features-icons-item">
                    <a href="/quiz/start">
                        <img class="quiz-start" src="assets/img/quiz-start.jpg" />
                    </a>
                </div>
        </div>
    </div>
</div>

</html>