<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">단어등록</h5>
    <form th:object="${wordForm}" method="post" th:action="@{/word/create}">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <div class="mb-3">
            <label for="name">이름</label>
            <input type="text" th:field="*{name}" name="name" class="form-control">
        </div>
        <div class="mb-3">
            <label for="meaning">뜻</label>
            <textarea name="meaning" th:field="*{meaning}" rows="2" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="example">예시</label>
            <textarea name="example" th:field="*{example}" rows="4" class="form-control"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>
